@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #000000;
}  
@media screen and (min-width: 992px) {
    .navbar-brand{
        margin-left: 15%;
    }
}
/*
@media screen and (min-width: 768){
    #goodsid{
        margin-left: -10%;
    }
}
*/



.navbar-nav{
    margin-left: 35%;
}
@media screen and (max-width: 991px) {
    .navbar-nav{
        margin-top: 20px;
    }
}
#blue-string{
    background: #36aeea;
    width: auto;
    height: 2px;
}
nav{
    z-index: 2;
}

/**/

@font-face {
  font-family: Pecita; /* Гарнитура шрифта */
  src: url(/fonts/Pecita.otf); /* Для IE5-8 */
  src: local(Pecita), url(fonts/Pecita.otf); /* Для остальных браузеров */
}
#header-block{
  margin-top: -50px;
  background: #e3e2e1;
  height: 620px;
  z-index: 1;
}
#rectangle-block{
  border: 4px solid #575757;
  height: 320px;
  margin-top: 135px;
}
#rectangle-top{
    background: #e3e2e1;
    height: 4px;
    margin-top: -4px;     
}
          #phone-number{
              margin-top: -30px;
              position: absolute;
              font-weight: 500;
          }
          #brand-print-roboto{
              font-family: 'Roboto', 'sans-serif';
              font-size: 42pt;
              font-weight: 600;
              margin-left: -27%;
          }
          #brand-print-pecita{
              font-family: 'Pecita', 'sans-serif';
              font-size: 42pt;
              font-weight: 400;
              margin-left: -25%;
              color: #54c5fd;
              text-shadow: black 1px 1px 3px;
              position: absolute;
              margin-top: -25px;
          }
          #header-motivation-text{
              font-family: 'Roboto', sans-serif;
              font-size: 12pt;
              margin-top: 45px;
              
          }
          #header-button{
              font-size: 10pt;
              background: #36aeea;
              border: none;
              width: 180px;
              height: 55px;
              margin-top: -15px;
          }

#header-button:hover{
    cursor: pointer;
}


#about-school{
              font-family: 'Open Sans', 'sans-serif';
              font-size: 18px;
              font-weight: 800;
              margin-top: 50%;
          }
          #offer-svg{
              position: absolute;
              margin-top: 120px;
              background: #f6f4f4;
          }
          #offer-button{
              background: #36aeea;
              border: none;
              width: 180px;
              height: 55px;
              color: white;
          }
          #about-school-text{
              color: #333333;
              font-family: 'Roboto', 'regular';
              font-weight: 500;  
          }
          #fluid-offer-block{
              background: #f6f4f4;
              padding-bottom: 25%;
          }
          #offer-img-1{
              margin-top: 50px;
          }
          #offer-img-2{
              position: absolute;
              margin-top: -50px;
              margin-left: -30%;
          }
          #who-block{
              background: #f1f0ee;
              padding-bottom: 7%;
          }
          .for-who-text{
              font-family: 'Roboto', 'sans-serif';
              font-size: 16pt;
          }
          #for-who{
              font-family: 'Open Sans', 'sans-serif';
              font-size: 24px;
              font-weight: 800;
              margin-left: -20%;
              margin-top: 45%;
              margin-bottom: 20%;
          }
          #form-img{
              width: 100%;
              height: 100%;
              min-height: 300px;
/*              position: absolute;*/
          }
          #post-form-block{
              position: absolute;
              margin-top: 10%;
          }
          #post-button{
              background: #36aeea;
              border: none;
              color: white;
              
          }
          #sending-post{
              font-family: 'Open Sans', 'sans-serif';
              font-size: 14px;
              font-weight: 900;
              color: #2c2e37;
              margin-top: -10%;
              
          }
          .sub-sending-post{
              color: #949494;
              font-size: 10pt;
              margin-bottom: 10px;
              margin-top: -10px;  
          }
          #sub-text{
              color: #36aeea;
              font-size: 10pt;
          }










